.Title{
    padding: 15px;
    background-color: #d6d1d1;
    margin-bottom: 40px;
    border-left: 10px solid #91c8ec;
    
}

.Title h1{
    margin: 0;
    font-weight: 400;
}

.Title p{
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 300;
}